<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MugBit | Documentation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="documentation.css">
    <link rel="shortcut icon" href="MugBit.PNG" type="image/x-icon">
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <img src="/MugBit.PNG" alt="Logo" width="47" height="auto">
            <a class="navbar-brand" href="/">MugBit</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/documentation">Documentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contactus">Contact Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Functions
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Tools</a></li>
                            <li><a class="dropdown-item" href="/bot/mugbot">MugBot</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">About Us</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">CupBit</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br>

    <main id="main">
        <section class="slidebar">
            <div class="list-of-pg-contents">
                <ul>
                    <li><a href="#why_mugbit">Why Mugbit??</a></li>
                    <li><a href="#how_I_use_it">How I Use it!??</a></li>
                    <li><a href="#how_I_contribute_on_mugbit">How I Contribute on Mugbit??</a></li>
                    <li><a href="#email_us_on_mugbit">Email us on mugbit.gmail.com</a></li>
                </ul>
            </div>
        </section>

        <section class="content-of-sliderbar">
            <article id="why_mugbit" class="article">
                <h4><tt>Why Mugbit??</tt></h4> 
                <img src="/MugBit.PNG" alt="This is the logo of mugbit" align="right" loading="lazy" />
                <p></p>
                <p>👉 MugBit Saves Your time of editing the `<code>certificate</code>`!</p>
                <p>👉 By Filling the Form Provided by the Mugbit You can easily make your own certificate!!</p>
                <p>👉 Also there are the more conventional parts provided by Mugbit through which you can save your valuable time & effort!!</p>
            </article>
            <br>
            <article class="article" id="how_I_use_it">
                <h4><tt>How I Use it!??</tt></h4>
                <p>The <u><i>Concept</i></u> of <u>Mugbit</u> underlies on the basis of <u><i>filling</i></u> the <u><i>Document Template</i></u>!</p>
                <br>
                <div class="img-tray">
                    <span>
                        <img src="/MugBit.PNG" alt="This is the logo of mugbit" align="right" loading="lazy" id="image_1" />
                        <img src="/msdocument.jfif" alt="This is the logo of mugbit" align="right" loading="lazy" width="120px" height="120px" id="image_2" />
                    </span>
                </div>
                <p><b>Click on the Use Button & then Just Fill the Form, press done and *wait till the document get downloaded!!</b></p>
            </article>
            <br>
            <article id="how_I_contribute_on_mugbit" class="article">
                <h4><tt>How I Contribute on Mugbit??</tt></h4>
                <p>At this time Mugbit is not a open source but you suggest us your opinion or feedback!! We are Also Starting a new Feature that's help you to create a zero to hero microproject!!!</p>
            </article>
            <br>
            <article class="article" id="email_us_on_mugbit">
                <h4><tt>Email us on mugbit.gmail.com</tt></h4>
                <p><b><i>mugbit@webapp.gmail.com</i></b></p>
            </article>
        </section>
    </main>

    <footer>
        <center>
            MugBit Copyright &copy; <span id="id"></span>
        </center>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <script>
        document.getElementById("id").textContent = new Date().getFullYear();
    </script>
</body>

</html>