{{!--
Programmer: Harsh Kale
Date created: 10/19/2023
--}}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MugBit | Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        body{
            color: white;
            background-color: black;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <img src="/MugBit.PNG" alt="Logo" width="47" height="auto">
            <a class="navbar-brand" href="/">MugBit</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/documentation">Documentation</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Tools
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Functions</a></li>
                            <li><a class="dropdown-item" href="/bot/mugbot">MugBot</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">About Us</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contactus">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">CupBit</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <div class="templates_container">
            <center>
                <h3>
                    Welcome to MugBit!
                </h3>
            </center>
            <div class="container">
                <h3>Micro-Projects Templates!</h3>
                <br>
                <section class="container">
                    <div class="container_div">

                        <div class="card-container"
                            style="display: flex; justify-content: space-evenly; margin: 1rem 0;">
                            <div class="card" style="width: 18rem;">
                                <img src="MugBit.PNG" class="card-img-top" alt="Image">
                                <div class="card-body">
                                    <h5 class="card-title">MugBit</h5>
                                    <p class="card-text">Now Create Your Microprojects <br> Very Quickly!</p>
                                    <a href="#" class="btn btn-primary">Documentation</a>
                                </div>
                            </div>

                            <div class="card" style="width: 18rem;">
                                <img src="msdocument.jfif" class="card-img-top" alt="Image">
                                <div class="card-body">
                                    <h5 class="card-title">Certificate</h5>
                                    <p>Collage: <span class="badge text-bg-primary">V.A.P.M. Collage</span></p>
                                    <p class="card-text">Computer Branch Certificate For You!</p>

                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        Use This!
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="card-container"
                            style="display: flex; justify-content: space-evenly; margin: 1rem 0;">
                            <div class="card" style="width: 18rem;">
                                <img src="msdocument.jfif" class="card-img-top" alt="Image">
                                <div class="card-body">
                                    <h5 class="card-title">EST Microproject</h5>
                                    <p>Collage: <span class="badge text-bg-primary">V.A.P.M. Collage</span></p>
                                    <p class="card-text">Microproject For You!</p>

                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop">
                                        Use This!
                                    </button>
                                </div>
                            </div>

                            <div class="card" style="width: 18rem;">
                                <img src="msdocument.jfif" class="card-img-top" alt="Image">
                                <div class="card-body">
                                    <h5 class="card-title">Civil Certificate</h5>
                                    <p>Collage: <span class="badge text-bg-primary">V.A.P.M. Collage</span></p>
                                    <p class="card-text">Civil Certificate For You!</p>

                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#CivilCertificate">
                                        Use This!
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="card-container"
                            style="display: flex; justify-content: space-evenly; margin: 1rem 0;">
                            <div class="card" style="width: 18rem;">
                                <img src="msdocument.jfif" class="card-img-top" alt="Image">
                                <div class="card-body">
                                    <h5 class="card-title">Electronic and Telecommunication Certificate</h5>
                                    <p>Collage: <span class="badge text-bg-primary">V.A.P.M. Collage</span></p>
                                    <p class="card-text">Electronic and Telecommunication Certificate For You!</p>

                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#EATCCertificate">
                                        Use This!
                                    </button>
                                </div>
                            </div>

                            <div class="card" style="width: 18rem;">
                                <img src="msdocument.jfif" class="card-img-top" alt="Image">
                                <div class="card-body">
                                    <h5 class="card-title">Micro-Projects Templates!</h5>
                                    <p>Collage: <span class="badge text-bg-primary">P. L. Collage</span></p>
                                    <p class="card-text">The microproject template provides a streamlined framework for
                                        managing
                                        small-scale initiatives, ensuring efficiency and clarity from start to finish.
                                        <br> Stay
                                        on top of your microproject tasks and milestones with this user-friendly
                                        template,
                                        designed to enhance project management for bite-sized goals
                                    </p>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#microprojectModelOfPL">
                                        Use This Template!
                                    </button>
                                </div>
                            </div>
                        </div>


                        <!-- Modal -->
                        <div class="modal" tabindex="-1" id="exampleModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Form</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/docx" method="post">
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Enter Your Name</label>
                                                <input type="text" class="form-control" id="name" name="name"
                                                    aria-describedby="nameHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label for="enrollmentno" class="form-label">Enter Your Enrollment
                                                    Number</label>
                                                <input type="text" class="form-control" id="enrollmentno"
                                                    name="enrollmentno" aria-describedby="enrollmentnoHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label for="coi" class="form-label">Enter Your COI</label>
                                                <input type="text" class="form-control" id="coi" name="coi"
                                                    aria-describedby="coiHelp" placeholder="For example, CO5I">
                                            </div>
                                            <div class="mb-3">
                                                <label for="micorprojecttitle" class="form-label">Enter Your
                                                    Microproject Title</label>
                                                <input type="text" class="form-control" id="micorprojecttitle"
                                                    name="micorprojecttitle" aria-describedby="micorprojecttitleHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label for="cosubject" class="form-label">Enter Your Subject</label>
                                                <input type="text" class="form-control" id="cosubject" name="cosubject"
                                                    aria-describedby="cosubjectHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label for="teachername" class="form-label">Enter Your Teacher
                                                    Name</label>
                                                <input type="text" class="form-control" id="teachername"
                                                    name="teachername" aria-describedby="teachernameHelp">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Done</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Form</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/microprojectt" method="post">
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Enter Your Name</label>
                                                <input type="text" class="form-control" id="name" name="name"
                                                    aria-describedby="nameHelp">

                                                <label for="enrollmentno" class="form-label">Enter Your Enrollment
                                                    Number</label>
                                                <input type="text" class="form-control" id="enrollmentno"
                                                    name="enrollmentno" aria-describedby="enrollmentnoHelp">

                                                <label for="rollno" class="form-label">Enter Your Roll Number</label>
                                                <input type="text" class="form-control" id="rollno" name="rollno"
                                                    aria-describedby="rollnoHelp">

                                                <label for="teacher" class="form-label">Enter Your Teacher Name</label>
                                                <input type="text" class="form-control" id="teacher" name="teacher"
                                                    aria-describedby="teacherHelp">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Done</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="CivilCertificate" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Form</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/civilcertificate" method="post">
                                            <div class="mb-3">
                                                <label for="microprojecttitle" class="form-label">Enter Your
                                                    Microproject Title</label>
                                                <input type="text" class="form-control" id="microprojecttitle"
                                                    name="MicroprojectTitle" aria-describedby="microprojecttitleHelp">

                                                <!-- Year -->
                                                <label for="yr" class="form-label">Enter Your Year</label>
                                                <input type="text" class="form-control" id="yr" name="yr"
                                                    aria-describedby="yrHelp">

                                                <!-- Names Of Students -->
                                                <label for="STUD_NAME" class="form-label">Enter Your First Student
                                                    Member Name</label>
                                                <input type="text" class="form-control" id="STUD_NAME" name="stud_name"
                                                    aria-describedby="STUD_NAMEHelp">

                                                <label for="stdName2" class="form-label">Enter Your Second Student
                                                    Member Name</label>
                                                <input type="text" class="form-control" id="stdName2" name="stdName2"
                                                    aria-describedby="stdName2Help">

                                                <label for="stdName3" class="form-label">Enter Your Third Student Member
                                                    Name</label>
                                                <input type="text" class="form-control" id="stdName3" name="stdName3"
                                                    aria-describedby="stdName3Help">

                                                <label for="stdName4" class="form-label">Enter Your Fourth Student
                                                    Member Name</label>
                                                <input type="text" class="form-control" id="stdName4" name="stdName4"
                                                    aria-describedby="stdName4Help">

                                                <!-- Enrollment Numbers of Student -->
                                                <label for="STUD_ENR" class="form-label">Enter Your First Student Member
                                                    Enrollment
                                                    Number</label>
                                                <input type="text" class="form-control" id="STUD_ENR" name="stud_enr"
                                                    aria-describedby="STUD_ENRHelp">

                                                <label for="stdEnr2" class="form-label">Enter Your Second Student Member
                                                    Enrollment
                                                    Number</label>
                                                <input type="text" class="form-control" id="stdEnr2" name="stdEnr2"
                                                    aria-describedby="stdEnr2Help">

                                                <label for="stdEnr3" class="form-label">Enter Your Third Student Member
                                                    Enrollment
                                                    Number</label>
                                                <input type="text" class="form-control" id="stdEnr3" name="stdEnr3"
                                                    aria-describedby="stdEnr3Help">

                                                <label for="stdEnr4" class="form-label">Enter Your Fourth Student Member
                                                    Enrollment
                                                    Number</label>
                                                <input type="text" class="form-control" id="stdEnr4" name="stdEnr4"
                                                    aria-describedby="stdEnr4Help">

                                                <!-- Name of Profesor -->
                                                <label for="profSirName" class="form-label">Enter Your Teacher
                                                    Number</label>
                                                <input type="text" class="form-control" id="profSirName"
                                                    name="profSirName" aria-describedby="profSirNameHelp">

                                                <!-- Subject -->
                                                <label for="Subject" class="form-label">Enter Your Subject With
                                                    Code</label>
                                                <input type="text" class="form-control" id="Subject" name="Subject"
                                                    aria-describedby="SubjectHelp">

                                                <!-- HOD -->
                                                <label for="HOD" class="form-label">Enter Your HOD Name</label>
                                                <input type="text" class="form-control" id="HOD" name="hod"
                                                    aria-describedby="HODHelp">

                                                <!-- Principal -->
                                                <label for="Principal" class="form-label">Enter Your Principal
                                                    Name</label>
                                                <input type="text" class="form-control" id="Principal" name="Principal"
                                                    aria-describedby="PrincipalHelp">

                                                <!-- Semester -->
                                                <label for="sem" class="form-label">Enter Your Sememster</label>
                                                <input type="text" class="form-control" id="sem" name="sem"
                                                    aria-describedby="semHelp">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Done</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="EATCCertificate" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Certificate</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/entccertificate" method="post" id="myForm">
                                            <div class="mb-3">
                                                <label for="microprojecttitle" class="form-label">Enter Your
                                                    Microproject Title</label>
                                                <input type="text" class="form-control" id="microprojecttitle"
                                                    name="MicroprojectTitle" aria-describedby="microprojecttitleHelp">

                                                <!-- Year -->
                                                <label for="yr" class="form-label">Enter Your Year</label>
                                                <input type="text" class="form-control" id="yr" name="yr"
                                                    aria-describedby="yrHelp">

                                                <!-- Names Of Students -->
                                                <label for="STUD_NAME" class="form-label">Enter Your First Student
                                                    Member Name</label>
                                                <input type="text" class="form-control" id="STUD_NAME" name="stud_name"
                                                    aria-describedby="STUD_NAMEHelp">

                                                <!-- Enrollment Numbers of Student -->
                                                <label for="STUD_ENR" class="form-label">Enter Your First Student Member
                                                    Enrollment
                                                    Number</label>
                                                <input type="text" class="form-control" id="STUD_ENR" name="stud_enr"
                                                    aria-describedby="STUD_ENRHelp">

                                                <!-- Name of Profesor -->
                                                <label for="profSirName" class="form-label">Enter Your Teacher
                                                    Number</label>
                                                <input type="text" class="form-control" id="profSirName"
                                                    name="profSirName" aria-describedby="profSirNameHelp">

                                                <!-- Subject -->
                                                <label for="Subject" class="form-label">Enter Your Subject With
                                                    Code</label>
                                                <input type="text" class="form-control" id="Subject" name="Subject"
                                                    aria-describedby="SubjectHelp">

                                                <!-- HOD -->
                                                <label for="HOD" class="form-label">Enter Your HOD Name</label>
                                                <input type="text" class="form-control" id="HOD" name="hod"
                                                    aria-describedby="HODHelp">

                                                <!-- Principal -->
                                                <label for="Principal" class="form-label">Enter Your Principal
                                                    Name</label>
                                                <input type="text" class="form-control" id="Principal" name="Principal"
                                                    aria-describedby="PrincipalHelp">

                                                <!-- Semester -->
                                                <label for="sem" class="form-label">Enter Your Sememster</label>
                                                <input type="text" class="form-control" id="sem" name="sem"
                                                    aria-describedby="semHelp">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Done</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </section>
            </div>
        </div>
        <br>
        <hr>
        <div class="container">
            <h2><tt>Fill Up the Following Form to Get Your Microproject!</tt></h2>
            <div class="form-container">
                <form action="/microproject" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Enter Your Name</label>
                        <input type="text" class="form-control" name="username" id="username"
                            aria-describedby="usernameHelp">
                    </div>

                    <div class="mb-3">
                        <label for="userenrollmentnumber" class="form-label">Enter Your Enrollment Number</label>
                        <input type="text" class="form-control" name="userenrollmentnumber" id="userenrollmentnumber"
                            aria-describedby="userenrnoHelp">
                    </div>

                    <div class="mb-3">
                        <label for="rollnumber" class="form-label">Enter Your Roll Number</label>
                        <input type="text" class="form-control" name="rollnumber" id="rollnumber"
                            aria-describedby="rollnumberHelp">
                    </div>

                    <div class="mb-3">
                        <label for="teachername" class="form-label">Enter Your Teacher Name</label>
                        <input type="text" class="form-control" name="teachername" id="teachername"
                            aria-describedby="teachernameHelp">
                    </div>

                    <div class="mb-3">
                        <label for="microprojectitle" class="form-label">Enter Your Microproject Title</label>
                        <input type="text" class="form-control" name="microprojectitle" id="microprojectitle"
                            aria-describedby="microprojectitleHelp">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <br>
            <hr>
            <h2><tt>Fill Up the Following Form to Get Your Microproject! (P. L. Collage Format Microproject)</tt></h2>
            <div class="form-container">
                <form action="/microprojectpltwo" method="post">
                    <div class="mb-3">
                        <div class="mb-3">
                            <label for="microprojectitle" class="form-label">Enter Your Microproject Title</label>
                            <input type="text" class="form-control" name="microprojectitle" id="microprojectitle"
                                aria-describedby="microprojectitleHelp">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </main>

    <!-- Modal -->
    <div class="modal fade" id="microprojectModelOfPL" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Fill Up the Following Form 👉</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/microprojectpl" method="post">
                        <h5><tt>Enter Your Group Member's Names!</tt></h5>
                        <div class="mb-3">
                            <label for="studentname1" class="form-label">Enter Your <code>1st</code> Group Member
                                Name</label>
                            <input type="text" class="form-control" id="studentname1" name="studentname1"
                                aria-describedby="studentname1Help">
                        </div>

                        <div class="mb-3">
                            <label for="studentname2" class="form-label">Enter Your <code>2nd</code> Group Member
                                Name</label>
                            <input type="text" class="form-control" id="studentname2" name="studentname2"
                                aria-describedby="studentname2Help">
                        </div>

                        <div class="mb-3">
                            <label for="studentname3" class="form-label">Enter Your <code>3rd</code> Group Member
                                Name</label>
                            <input type="text" class="form-control" id="studentname3" name="studentname3"
                                aria-describedby="studentname3Help">
                        </div>

                        <div class="mb-3">
                            <label for="studentname4" class="form-label">Enter Your <code>4th</code> Group Member
                                Name</label>
                            <input type="text" class="form-control" id="studentname4" name="studentname4"
                                aria-describedby="studentname4Help">
                        </div>

                        <div class="mb-3">
                            <label for="studentname5" class="form-label">Enter Your <code>5th</code> Group Member
                                Name</label>
                            <input type="text" class="form-control" id="studentname5" name="studentname5"
                                aria-describedby="studentname5Help">
                        </div>

                        <h5><tt>Enter Your Group Member's Enrollment Numbers!</tt></h5>
                        <div class="mb-3">
                            <label for="studentenrno1" class="form-label">Enter Your <code>1st</code> Group Member
                                Enrollment Number</label>
                            <input type="text" class="form-control" id="studentenrno1" name="studentenrno1"
                                aria-describedby="studentenrno1Help">
                        </div>

                        <div class="mb-3">
                            <label for="studentenrno2" class="form-label">Enter Your <code>2nd</code> Group Member
                                Enrollment Number</label>
                            <input type="text" class="form-control" id="studentenrno2" name="studentenrno2"
                                aria-describedby="studentenrno2Help">
                        </div>

                        <div class="mb-3">
                            <label for="studentenrno3" class="form-label">Enter Your <code>3rd</code> Group Member
                                Enrollment Number</label>
                            <input type="text" class="form-control" id="studentenrno3" name="studentenrno3"
                                aria-describedby="studentenrno3Help">
                        </div>

                        <div class="mb-3">
                            <label for="studentenrno4" class="form-label">Enter Your <code>4th</code> Group Member
                                Enrollment Number</label>
                            <input type="text" class="form-control" id="studentenrno4" name="studentenrno4"
                                aria-describedby="studentenrno4Help">
                        </div>

                        <div class="mb-3">
                            <label for="studentenrno5" class="form-label">Enter Your <code>5th</code> Group Member
                                Enrollment Number</label>
                            <input type="text" class="form-control" id="studentenrno5" name="studentenrno5"
                                aria-describedby="studentenrno5Help">
                        </div>

                        <h5><tt>Enter Your Group Member's Roll Numbers!</tt></h5>
                        <div class="mb-3">
                            <label for="studentrollno1" class="form-label">Enter Your <code>1st</code> Group Member Roll
                                Number</label>
                            <input type="text" class="form-control" id="studentrollno1" name="studentrollno1"
                                aria-describedby="studentrollno1Help">
                        </div>

                        <div class="mb-3">
                            <label for="studentrollno2" class="form-label">Enter Your <code>2nd</code> Group Member Roll
                                Number</label>
                            <input type="text" class="form-control" id="studentrollno2" name="studentrollno2"
                                aria-describedby="studentrollno2Help">
                        </div>

                        <div class="mb-3">
                            <label for="studentrollno3" class="form-label">Enter Your <code>3rd</code> Group Member Roll
                                Number</label>
                            <input type="text" class="form-control" id="studentrollno3" name="studentrollno3"
                                aria-describedby="studentrollno3Help">
                        </div>

                        <div class="mb-3">
                            <label for="studentrollno4" class="form-label">Enter Your <code>4th</code> Group Member Roll
                                Number</label>
                            <input type="text" class="form-control" id="studentrollno4" name="studentrollno4"
                                aria-describedby="studentrollno4Help">
                        </div>

                        <div class="mb-3">
                            <label for="studentrollno5" class="form-label">Enter Your <code>5th</code> Group Member Roll
                                Number</label>
                            <input type="text" class="form-control" id="studentrollno5" name="studentrollno5"
                                aria-describedby="studentrollno5Help">
                        </div>

                        <h5><tt>Enter Some Basic Information related to Micro-Project!</tt></h5>
                        <div class="mb-3">
                            <label for="microprojectname" class="form-label">Enter Your Micro-Project Name</label>
                            <input type="text" class="form-control" id="microprojectname" name="microprojectname"
                                aria-describedby="microprojectnameHelp">
                        </div>

                        <div class="mb-3">
                            <label for="department" class="form-label">Enter Your Department Name</label>
                            <input type="text" class="form-control" id="department" name="department"
                                aria-describedby="departmentHelp">
                        </div>

                        <div class="mb-3">
                            <label for="subject" class="form-label">Enter Your Subject Name</label>
                            <input type="text" class="form-control" id="subject" name="subject"
                                aria-describedby="subjectHelp">
                        </div>

                        <div class="mb-3">
                            <label for="semesterno" class="form-label">Enter Your Semester Number</label>
                            <input type="text" class="form-control" id="semesterno" name="semesterno"
                                aria-describedby="semesternoHelp" placeholder="CO1I, IF1I, etc...">
                        </div>

                        <div class="mb-3">
                            <label for="teachername" class="form-label">Enter Your Teacher Name</label>
                            <input type="text" class="form-control" id="teachername" name="teachername"
                                aria-describedby="teachernameHelp">
                        </div>

                        <button type="submit" class="btn btn-primary">Done👍</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <center>
            <p>Copyright &copy; MugBit | All Rights Reserved! <span id="id"></span></p>
        </center>
    </footer>

    <script>
        document.getElementById("id").textContent = new Date().getFullYear();
    </script>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>